@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap");
@font-face {
  font-family: "wakuwaku";
  src: url(font/mini-wakuwaku.otf);
}
@font-face {
  font-family: "kalam";
  src: url(font/Kalam-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-image: url(imgs/gelato.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 20px 10px 20px;
  background-color: rgba(29, 37, 59, 0.8);
  color: whitesmoke;
  border-bottom: 1px solid black;
}

header h1 {
  font-family: "Hina Mincho", serif;
  font-size: 85px;
  line-height: 1;
  color: rgb(245, 231, 233);
}

.top-logo {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.top-logo p {
  font-size: 16px;
  line-height: 1.3;
  border-bottom: solid 1px rgb(255, 248, 216);
  font-family: "wakuwaku";
  color: rgb(218, 165, 174);
}

.tabs {
  display: flex;
}

.button-nav {
  padding: 20px;
  font-size: 25px;
  position: relative;
  cursor: pointer;
}

.button-nav:hover:after {
  content: "";
  background: #f43f5e;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 3px;
}

.button-nav:hover {
  text-decoration: underline whitesmoke solid 2px;
}

.main {
  margin-top: 5vh;
  margin-bottom: 50px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgba(22, 28, 44, 0.8);
}

.home {
  display: block;
}

.home p {
  font-size: 22px;
  color: whitesmoke;
  padding: 10px;
}
.home img {
  width: 80%;
  opacity: 0.8;
  border-radius: 35%;
}

.menu {
  display: none;
  flex-direction: column;
  align-items: center;
}

.menu img {
  width: 80%;
  opacity: 0.8;
  border-radius: 15%;
}

.menu > p {
  font-size: 28px;
  color: rgb(240, 113, 134);
  font-weight: bold;
  padding: 10px;
}

.menu table {
  padding: 10px 0px 20px 0px;
  font-size: 18px;
  color: whitesmoke;
  text-align: center;
}

.menu th {
  padding: 0px 0px 5px 0px;
}

.menu td {
  border: white solid 1px;
  padding: 2px 5px;
}

.contact {
  display: none;
  justify-content: center;
  position: relative;
  text-align: center;
}

.contact p {
  font-family: "kalam";
}

.contact #contact-bg {
  width: 100%;
  opacity: 0.8;
  display: block;
}

.contact {
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.contact .tel {
  position: absolute;
  top: 15%;
  left: 15%;
}

.contact .address {
  position: absolute;
  top: 23%;
  left: 15%;
}

.contact #chicago-map {
  width: 50%;
  height: 50%;
  opacity: 0.55;
  top: 33%;
  left: 8%;
  position: absolute;
}

footer {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: auto;
  background-color: rgba(29, 37, 59, 0.8);
  border-top: 1px solid black;

  width: 100%;
  padding: 10px;
}

footer p {
  font-size: 18px;
  margin-right: 8px;
  color: aliceblue;
}

.fa.fa-github {
  color: whitesmoke;
  transition: transform 0.3s ease-in-out;
}

.fa.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
  color: #f43f5e;
}
