@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#content {
display: flex;
flex-direction: column;
align-items: center;
height: 100vh;
text-align: center;
background-image: url(gelato.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

header {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
padding: 20px 20px 10px 20px;
background-color: rgba(45, 58, 97, 0.8);
color: whitesmoke;  
border-bottom: 1px solid black;
}

header h1 {
font-family: 'Hina Mincho', serif;  
font-size: 80px;
line-height: 1.1;
color: rgb(241, 221, 224);
}

.top-logo {
display: flex;
flex-direction: column;
margin-bottom: 1rem;  
}

.top-logo p {
font-size: 18px;  
line-height: 0.5;
}

.tabs {
display: flex;
}

.button-nav {
padding: 20px;  
font-size: 25px;
}